<footer>
    <hr class="pt-8 opacity-60 dark:opacity-10">
    {%- include social.html -%}
    <div class="mt-14 flex flex-row place-content-between">
        <a class="inline-block text-2xl font-sans font-black" href="{{ '/' | relative_url }}">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-rose-400 to-purple-800 dark:from-pink-300 dark:to-violet-300">
                {{- site.title -}}
            </span>
        </a>
    </div>
    <nav>
        <ul class="flex flex-wrap place-content-between mt-14">
            <li class="mb-3.5 mr-5">
            {%- if page.previous.url -%}
                <a class="text-pink-500 dark:text-pink-300 border-b border-pink-500 dark:border-pink-300 hover:border-0" href="{{page.previous.url}}" rel="prev">
                    &#8592; {{page.previous.title}}
                </a>
            {%- endif -%}
            </li>
            <li class="mb-3.5"></li>
            {%- if page.next.url -%}
                <a class="text-pink-500 dark:text-pink-300 border-b border-pink-500 dark:border-pink-300 hover:border-0" href="{{page.next.url}}" rel="next">
                    {{page.next.title}} &#8594;
                </a>
            {%- endif -%}
            </li>
        </ul>
    </nav>
</footer>
