<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description"  content="{{ page.description | default: site.description }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@900&display=swap">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% feed_meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ['Montserrat', 'sans-serif'],
              serif: ['Merriweather', 'serif'],
            }
          }
        }
      }
    </script>
    {%- if site.google_tag_manager -%}
      {%- include gtm.html -%}
    {%- endif -%}
  </head>